extends ../layout

block content
    .container(style="padding-bottom: 51px;")
        .row
            form.form-horizontal(method="POST", action="/admin/movie/new")
                if movie._id
                    input(type="hidden", name="movie[_id]", value=movie._id)
                else
                    .form-group
                        label.col-sm-2.control-label(for="douban") 豆瓣电影ID
                        .col-sm-10
                            input#douban.form-control(type="text")
                .form-group
                    label.col-sm-2.control-label(for="category") 分类选择
                    .col-sm-10
                        select#category.form-control(name="movie[category]")
                            option(disabled, selected) 请选择...
                            each item in categories
                                if movie.category&&item._id.toString()==movie.category.toString()
                                    option(value=item._id selected) #{item.name}
                                else
                                    option(value=item._id) #{item.name}
                .form-group
                    label.col-sm-2.control-label(for="inputCategoryName") 自定分类
                    .col-sm-10
                        input#inputCategoryName.form-control(type="text", name="movie[categoryName]")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 电影名字
                    .col-sm-10
                        input#inputTitle.form-control(type="text", name="movie[title]", value=movie.title)
                .form-group
                    label.col-sm-2.control-label(for="inputDirector") 导演
                    .col-sm-10
                        input#inputDirector.form-control(type="text", name="movie[director]", value=movie.director)
                .form-group
                    label.col-sm-2.control-label(for="inputNation") 国家
                    .col-sm-10
                        input#inputNation.form-control(type="text", name="movie[nation]", value=movie.nation)
                .form-group
                    label.col-sm-2.control-label(for="inputLanguage") 语种
                    .col-sm-10
                        input#inputLanguage.form-control(type="text", name="movie[language]", value=movie.language)
                .form-group
                    label.col-sm-2.control-label(for="inputPoster") 海报
                    .col-sm-10
                        input#inputPoster.form-control(type="text", name="movie[poster]", value=movie.poster)
                .form-group
                    label.col-sm-2.control-label(for="inputFlash") 片源地址
                    .col-sm-10
                        input#inputFlash.form-control(type="text", name="movie[flash]", value=movie.flash)
                .form-group
                    label.col-sm-2.control-label(for="inputYear") 上映年份
                    .col-sm-10
                        input#inputYear.form-control(type="number", name="movie[year]", value=movie.year)
                .form-group
                    label.col-sm-2.control-label(for="inputSummary") 简介
                    .col-sm-10
                        input#inputSummary.form-control(type="text", name="movie[summary]", value=movie.summary)
                .form-group
                    .col-sm-2
                    .col-sm-4
                        button.btn.btn-primary.form-control(type="submit") 保存
    script(src="/js/admin.js")
